.card {
    border-radius: 14px;
    border: 1px solid #e0e0e0;
    margin: 1em auto;
    background: var(--white-color);
    padding: 2em 2em 1.5em 2em;
}

.header>h2 {
    margin: 0 0 0.5em 0;    
    color: #cc0000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

