.post {
    border-radius: 14px;
    border: 1px solid #e0e0e0;
    margin: 1em auto;
    background: var(--white-color);
    padding: 2em 2em 1.5em 2em;
}

.header h1 {
    margin: 0 0 0.5em 0;
    font-size: var(--font-size-h1);
    color: #cc0000;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px dashed #cc0000;

    &:active {
        transform: scale(0.98);
        transition: transform 0.1s;
    }
}

.info {
    display: flex;
    gap: 0.2em;
    justify-content: space-between;
    color: #757575;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .img {
        max-width: 100%;
        border-radius: 14px;        
    }

    p {               
        padding-top: 0.5em;
        margin: 0;
    }
}