.page-header {
    padding: 0.4em 1em;
}

.title>h1 {
    color: #cc0000;
    text-transform: uppercase;
    margin: .2em 0
}

.slogan {
    color: #888;
    font-size: 0.875em;
    margin: 0;
}

@media (min-width: 35em) {
    .page-header {
        padding: 1em;
    }
}

@media (min-width: 50em) {
    .page-header {
        padding: 1em 4em;
    }
}