.sidebar {
  margin-top: 0;
  padding: 1em;
  background-color: var(--white-color);
  border-radius: 14px;
  border: 1px solid #e0e0e0;
}

.sidebar .menu-title {
  text-transform: uppercase;
  color: #cc0000;
}

.arrow {
  display: inline-block;
  margin-left: 0.2em;
  transition: transform 0.3s;
}

.sidebar-menu {
  display: none;
  list-style-type: none;
  padding-left: 0;
}

.sidebar-menu li {
  padding: .5em 0;
}

.sidebar-menu li+li {
  border-top: 1px dotted var(--primary-color);
}

.sidebar-menu a {
  text-decoration: none;
  display: block;
}

.sidebar-menu.show {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

@media (min-width: 35em) {
  .sidebar {
    margin: 1em;
    padding: 1em 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sidebar .menu-title {
    text-transform: uppercase;
    color: #cc0000;
  }

  .sidebar-menu {
    display: block;
  }

  .sidebar-menu li {
    padding: .3em 0;
  }

  .sidebar-menu li+li {
    border-top: 1px dotted var(--primary-color);
  }

  .sidebar-menu a {
    text-decoration: none;
    text-align: left;
  }

  .sidebar .arrow {
    display: none;
    /* Hide the arrow on smaller screens */
  }
}

@media (min-width: 50em) {
  .sidebar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sidebar .menu-title {
    text-transform: uppercase;
    color: #cc0000;
  }

  .sidebar .arrow {
    display: none;
    /* Hide the arrow on smaller screens */
  }
}