.hero {    
    text-align: center;
    background-image: url("/assets/cooking-small.jpg");
    background-size: cover;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.3em #000;
}

@media (min-width:35em) {
    .hero {        
        font-size: 1.2rem;
        background-image: url("/assets/cooking-small.jpg");
        text-shadow: 0.1em 0.1em 0.3em #000;
    }
}

@media (min-width: 50em) {
    .hero {        
        background-image: url("/assets/cooking-big.jpg");
        text-shadow: 0.1em 0.1em 0.3em #000;
    }
}