@use 'navigation-core.scss' as nav;

@include nav.dropdown-navigation-styles;

// hidden burger
@media (min-width: 35em) {
    .menu-toggle {
        display: none;
    }

    .menu-dropdown {
        display: block;
        position: static;
    }

    .nav-menu {
        display: flex;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .nav-menu>li {
        flex: 1;
        margin-bottom: 0;
    }

    .nav-menu>li+li {
        border: 0;
    }

    .nav-menu>li>a {
        padding: 0.3em;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: #cc0000;
            color: #fff;
            font-weight: bold;
        }
    }

    .nav-menu li.active>a {
        color: var(--white-color);
        font-weight: bold;
        cursor: pointer;
        background-color: #cc0000;
    }
}

@media (min-width: 50em) {    
    .nav-menu {
        justify-content: flex-start;
        gap: 2em; 
    }

    .nav-menu > li {        
        flex: 0 0 150px;
    }
    
    .nav-menu > li+li {
        margin-left: 0;
    }
    
    .nav-menu>li>a {
        text-align: center;
    }
}