@mixin dropdown-navigation-styles {

    /* block container for child elements */
    .menu {
        position: relative;
    }

    .menu-toggle {
        position: absolute;
        top: -1.2em;
        right: 0.1em;
        border: 0;

        font-size: 3em;
        width: 1em;
        height: 1em;
        line-height: 0.4;
        text-indent: 5em;
        white-space: nowrap;
        overflow: hidden;
        background-color: transparent;

        &::after {
            position: absolute;
            top: 0.2em;
            left: 0.2em;
            display: block;
            content: "\2261";
            text-indent: 0;
            color: #cc0000;
        }
    }

    /* Hide menu by default */
    .menu-dropdown {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
        z-index: 1000;
    }

    .menu-dropdown.is-open {
        display: block;
    }

    .nav-menu {
        margin: 0;
        padding-left: 0;
        border: 1px solid #ccc;
        list-style: none;
        background-color: #e53232;
        color: var(--white-color);
    }

    .nav-menu>li+li {
        border-top: 1px solid #ccc;
    }

    .nav-menu>li>a {
        display: block;
        padding: 0.8em 1em;
        color: var(--white-color);
        font-weight: normal;
        text-decoration: none;
    }
}

@mixin tablet-styles-layout {

    // hidden burger
    @media (min-width: 35em) {
        .menu-toggle {
            display: none;
        }

        .menu-dropdown {
            display: block;
            position: static;
        }

        .nav-menu {
            display: flex;
            border: 0;
            padding: 0;
            margin: 0;
        }

        .nav-menu>li {
            flex: 1;
            margin-bottom: 0;
        }

        .nav-menu>li+li {
            border: 0;
        }

        .nav-menu>li>a {
            padding: 0.3em;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: #cc0000;
                color: #fff;
                font-weight: bold;
            }
        }

        .nav-menu li.active>a {
            color: var(--white-color);
            font-weight: bold;
            cursor: pointer;
            background-color: #cc0000;
        }
    }
}

@mixin desktop-styles-layout {

    @media (min-width: 50em) {
        .nav-menu {
            justify-content: flex-start;
            gap: 2em;
        }

        .nav-menu>li {
            flex: 0 0 150px;
        }

        .nav-menu>li+li {
            margin-left: 0;
        }

        .nav-menu>li>a {
            text-align: center;
        }
    }
}