  @media (min-width: 35em) {
    .flex {
      display: flex;
    }

    .flex>*+* {
      margin-top: 0;
      margin-left: 1.5em;
    }

    .column-main {
      flex: 2;
    }

    .column-sidebar {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .column-sidebar>.tile {
      flex: 1;
    }
  }