.post {
    border-radius: 14px;
    border: 1px solid #e0e0e0;
    margin: 1em auto;
    background: var(--white-color);
    padding: 2em 2em 1.5em 2em;
}

.header>h2 {
    margin: 0 0 0.5em 0;
    color: #cc0000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.info {
    display: flex;
    gap: 0.2em;
    justify-content: space-between;
    padding: 1em;
    color: #757575;
    margin-bottom: 0.5em;
    font-weight: bold;
    border-top: 1px solid #cc0000;
    border-bottom: 1px solid #cc0000;
}

.content img {
    max-width: 100%;
    border-radius: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (min-width: 35em) {
    .info {        
        justify-content: flex-start;
        gap: 1em;        
    }
}