<div class="post">
    <div class="header">
        <h1>Post title</h1>                   
    </div>

    <div class="info">
        <small>Author: Peter</small>
        <small>12.09.2025</small>    
        <small>Comments: 0</small>    
    </div>

    <div class="content"> 
        <img src="/images/img.jpeg" alt="img">       
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus modi facere voluptatum accusamus quo, reiciendis voluptatibus architecto! Velit, cupiditate sed quis alias voluptatem minus saepe explicabo enim odit error optio, illo voluptatibus quia. Praesentium, at. Voluptatibus inventore alias nemo saepe deleniti, dicta earum corrupti, libero accusamus, magni eveniet aliquam modi.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus modi facere voluptatum accusamus quo, reiciendis voluptatibus architecto! Velit, cupiditate sed quis alias voluptatem minus saepe explicabo enim odit error optio, illo voluptatibus quia. Praesentium, at. Voluptatibus inventore alias nemo saepe deleniti, dicta earum corrupti, libero accusamus, magni eveniet aliquam modi.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus modi facere voluptatum accusamus quo, reiciendis voluptatibus architecto! Velit, cupiditate sed quis alias voluptatem minus saepe explicabo enim odit error optio, illo voluptatibus quia. Praesentium, at. Voluptatibus inventore alias nemo saepe deleniti, dicta earum corrupti, libero accusamus, magni eveniet aliquam modi.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus modi facere voluptatum accusamus quo, reiciendis voluptatibus architecto! Velit, cupiditate sed quis alias voluptatem minus saepe explicabo enim odit error optio, illo voluptatibus quia. Praesentium, at. Voluptatibus inventore alias nemo saepe deleniti, dicta earum corrupti, libero accusamus, magni eveniet aliquam modi.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus modi facere voluptatum accusamus quo, reiciendis voluptatibus architecto! Velit, cupiditate sed quis alias voluptatem minus saepe explicabo enim odit error optio, illo voluptatibus quia. Praesentium, at. Voluptatibus inventore alias nemo saepe deleniti, dicta earum corrupti, libero accusamus, magni eveniet aliquam modi.</p>
    </div>
</div>