<div>
  <div *ngIf="isLoading" cy-data="loading">
    <p class="center">Loading...</p>
  </div>

  <div *ngIf=" posts.length" cy-data="post-list-container">
    <app-search-bar></app-search-bar>
    @for (post of posts; track post.id) {
    <app-post [post]="post"></app-post>
    }
  </div>

  <div *ngIf="!isLoading && !isBackendError && posts.length === 0" cy-data="no-posts-message">
    <p class="center">No posts found...</p>
  </div>

  <app-adaptive-pagination [currentPage]="currentPage" [pageSize]="pageSize" [totalPosts]="totalPostsCount"
    (pageChange)="onPageChanged($event)" (modeChanged)="onModeChanged($event)">
  </app-adaptive-pagination>
</div>